// SHOOTING STAR ANIMATION

@keyframes particleAnimation
{
  0% {
      left: -100px;
      opacity: 0.7;
  }
  50% {
      left: calc( 100% + 100px );
      opacity: 0.5;
  }
  50.01% {
      left: calc( 100% + 100px );
      // top: (random(1000)+50);
      opacity: 0;
  }
  100% {
      left: calc( 100% + 100px );
      // top: (random(1000)+50);
      opacity: 0;
  }
}

.p{
  position:fixed;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  opacity: 0.5;
  z-index: 1;
  animation-name: particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.p::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  z-index: 0;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.2) 100%); 
}

.p-1{
  top:random((120)+70) + px;
  animation-duration: (random(4)+5) + s;
}
.p-2{
  top:random((340)+70) + px;
  animation-duration: (random(9)+5) + s;
}
.p-3{
  top:random((620)+70) + px;
  animation-duration: (random(15)+5) + s;
}
.p-4{
  top:random((860)+70) + px;
  animation-duration: (random(8)+5) + s;
}
.p-5{
  top:random((1070)+70) + px;
  animation-duration: (random(11)+5) + s;
}
